html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #c11627;
}

a:hover {
  color: #93111e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  background-color: #c11627;
  color: #fff !important;
  padding: 10px 30px;
  border-radius: 100px;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-bottom: 30px;
}

.btn img {
  margin-left: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

.btn:hover {
  background-color: #93111e;
}

.btn:hover img {
  -webkit-transform: translate(10px, 2px);
          transform: translate(10px, 2px);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media only screen and (max-width: 1250px) {
  .container {
    width: 1032px;
  }
}

@media only screen and (max-width: 1032px) {
  .container {
    width: 696px;
  }
}

@media only screen and (max-width: 696px) {
  .container {
    width: 100%;
  }
}

.container .row {
  margin-right: 16px;
  margin-left: 16px;
}

.container-narrow {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1250px) {
  .container-narrow {
    width: 1032px;
  }
}

@media only screen and (max-width: 1032px) {
  .container-narrow {
    width: 696px;
  }
}

@media only screen and (max-width: 696px) {
  .container-narrow {
    width: 100%;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row .col-4 {
  width: 20%;
}

@media only screen and (max-width: 1250px) {
  .row .col-4 {
    width: 33.333%;
  }
}

@media only screen and (max-width: 1032px) {
  .row .col-4 {
    width: 50%;
  }
}

@media only screen and (max-width: 696px) {
  .row .col-4 {
    width: 100%;
  }
}

.row .col-4 {
  width: 25%;
}

@media only screen and (max-width: 1032px) {
  .row .col-4 {
    width: 50%;
  }
}

@media only screen and (max-width: 696px) {
  .row .col-4 {
    width: 100%;
  }
}

.row .col-3 {
  width: 33.333%;
}

@media only screen and (max-width: 1032px) {
  .row .col-3 {
    width: 50%;
  }
}

@media only screen and (max-width: 696px) {
  .row .col-3 {
    width: 100%;
  }
}

.row .col-2 {
  width: 50%;
}

@media only screen and (max-width: 696px) {
  .row .col-2 {
    width: 100%;
  }
}

.row .col-1 {
  width: 100%;
}

.title-sec {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.title-sec svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title-sec h2 {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
}

@media only screen and (max-width: 1250px) {
  .title-sec h2 {
    font-size: 31px;
  }
}

@media only screen and (max-width: 696px) {
  .title-sec h2 {
    font-size: 31px;
  }
}

header {
  padding: 40px 0;
}

@media only screen and (max-width: 696px) {
  header {
    padding: 20px 0;
  }
}

#hero {
  background-image: url("../img/bg.png");
  position: relative;
}

#hero:after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -350px;
  height: 200%;
  width: 40%;
  background-color: #c11627;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

@media only screen and (max-width: 696px) {
  #hero:after {
    display: none;
  }
}

#hero .row .col:nth-child(1) {
  width: 60%;
}

@media only screen and (max-width: 1032px) {
  #hero .row .col:nth-child(1) {
    width: 100%;
  }
}

#hero .row .col:nth-child(2) {
  width: 40%;
}

@media only screen and (max-width: 1032px) {
  #hero .row .col:nth-child(2) {
    width: 100%;
  }
}

#hero .bg-wraper {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px 0;
}

@media only screen and (max-width: 1032px) {
  #hero .bg-wraper {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 1032px) {
  #hero .bg-wraper .content {
    margin-bottom: 50px;
  }
}

#hero .bg-wraper .content * {
  color: #fff;
}

#hero .bg-wraper .content h1 {
  font-size: 55px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 696px) {
  #hero .bg-wraper .content h1 {
    font-size: 31px;
  }
}

#hero .bg-wraper .content ul {
  list-style: none;
  padding: 0px;
}

#hero .bg-wraper .content ul li {
  font-size: 24px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 696px) {
  #hero .bg-wraper .content ul li {
    font-size: 16px;
  }
}

#hero .bg-wraper .content ul li:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0px;
  width: 10px;
  height: 50%;
  background-color: #c11627;
}

#hero .bg-wraper .form-wraper {
  position: relative;
  z-index: 1;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  margin-top: -200px;
}

@media only screen and (max-width: 1032px) {
  #hero .bg-wraper .form-wraper {
    margin-top: 0;
  }
}

#about {
  position: relative;
  padding-top: 20px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 696px) {
  #about {
    margin-bottom: 20px;
  }
}

#about .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#about .row .col:nth-child(1) {
  width: 40%;
}

@media only screen and (max-width: 696px) {
  #about .row .col:nth-child(1) {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#about .row .col:nth-child(2) {
  width: 60%;
}

@media only screen and (max-width: 696px) {
  #about .row .col:nth-child(2) {
    width: 100%;
  }
}

#about h2 {
  font-size: 41px;
}

@media only screen and (max-width: 696px) {
  #about h2 {
    font-size: 31px;
  }
}

#about .signature {
  text-align: right;
  margin-bottom: 72px;
  padding-right: 89px;
}

@media only screen and (max-width: 696px) {
  #about .signature {
    display: none;
  }
}

#about .bg {
  position: absolute;
  z-index: -1;
  top: 0px;
  height: 90%;
  width: 100%;
  background-color: #f3f3f3;
}

#about .bg .corner-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 696px) {
  #about .bg .corner-right {
    display: none;
  }
}

#about .bg .corner-right .wraper {
  height: 80px;
  width: 80px;
  background-color: #fff;
}

#about .bg .corner-right .wraper:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 80px;
  right: 0;
  background-color: #fff;
  opacity: 0.5;
}

#about .bg .corner-right .wraper:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 80px;
  background-color: #fff;
  opacity: 0.5;
}

#about .img img {
  width: 100%;
  height: auto;
}

#about .badge {
  background-color: #fff;
  border-radius: 10px;
  padding: 32px 45px;
  display: inline-block;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0px;
}

@media only screen and (max-width: 696px) {
  #about .badge {
    display: none;
  }
}

#about .badge h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

#about .b-mobile {
  display: none;
}

@media only screen and (max-width: 696px) {
  #about .b-mobile {
    display: block;
    position: relative;
    margin-top: -50px;
  }
}

#vouchedfor {
  padding: 50px 0;
}

#vouchedfor .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 696px) {
  #vouchedfor .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#vouchedfor .row .col:nth-child(1) {
  width: 70%;
}

@media only screen and (max-width: 696px) {
  #vouchedfor .row .col:nth-child(1) {
    width: 100%;
  }
}

#vouchedfor .row .col:nth-child(2) {
  width: 30%;
}

@media only screen and (max-width: 696px) {
  #vouchedfor .row .col:nth-child(2) {
    width: 100%;
  }
}

#vouchedfor h3 {
  font-size: 21px;
}

#vouchedfor h3 b {
  color: #F9AB03;
}

#vouchedfor p {
  font-size: 21px;
}

#vouchedfor .label img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#vouchedfor .label a {
  display: block;
  background-color: #09607E;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

#offerts {
  padding: 100px 0 0;
}

#offerts .offer {
  padding: 10px;
}

#offerts .offer .offer-wraper {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#offerts .offer .offer-wraper .img img {
  width: 100%;
  height: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
}

#offerts .offer .offer-wraper .offer-title {
  text-align: center;
  position: absolute;
  bottom: -75px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#offerts .offer .offer-wraper .offer-title h3 {
  font-size: 18px;
}

#offerts .offer .offer-wraper .offer-title .btn {
  padding: 5px 30px;
}

#offerts .offer .offer-wraper:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

#offerts .offer .offer-wraper:hover .offer-title {
  bottom: 0px;
}

#offerts .offer .offer-wraper:hover .img img {
  -webkit-transform: translate(0px, -50px);
          transform: translate(0px, -50px);
}

#cta {
  padding: 100px 0;
  text-align: center;
}

@media only screen and (max-width: 696px) {
  #cta {
    padding: 50px 0;
  }
}

.contact .corners {
  width: calc(100vw - 10px);
  margin-left: -50vw;
  left: 50%;
  position: relative;
  z-index: -1;
  bottom: 0;
}

@media only screen and (max-width: 696px) {
  .contact .corners {
    width: 100%;
    left: 0px;
    margin-left: 0;
    overflow: hidden;
  }
}

.contact .corner-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 696px) {
  .contact .corner-left {
    display: none;
  }
}

.contact .corner-left .wraper {
  height: 80px;
  width: 80px;
  background-color: #f3f3f3;
}

.contact .corner-left .wraper:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 80px;
  left: 0;
  background-color: #f3f3f3;
  opacity: 0.5;
}

.contact .corner-left .wraper:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 0;
  left: 80px;
  background-color: #f3f3f3;
  opacity: 0.5;
}

.contact .corner-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 696px) {
  .contact .corner-right {
    display: none;
  }
}

.contact .corner-right .wraper {
  height: 80px;
  width: 80px;
  background-color: #f3f3f3;
}

.contact .corner-right .wraper:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 80px;
  right: 0;
  background-color: #f3f3f3;
  opacity: 0.5;
}

.contact .corner-right .wraper:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 80px;
  background-color: #f3f3f3;
  opacity: 0.5;
}

.contact .middel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 200px;
  max-width: 1400px;
  margin: 0 auto;
}

@media only screen and (max-width: 1250px) {
  .contact .middel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 696px) {
  .contact .middel {
    padding: 15px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1250px) {
  .contact .left {
    width: 100%;
    text-align: center;
  }
}

.contact .left a {
  font-size: 24px;
  color: #c11627;
  font-weight: 900;
}

@media only screen and (max-width: 1250px) {
  .contact .left a {
    font-size: 28px;
    margin-bottom: 20px;
    display: block;
  }
}

@media only screen and (max-width: 1032px) {
  .contact .left a {
    font-size: 21px;
  }
}

@media only screen and (max-width: 696px) {
  .contact .left a {
    font-size: 18px;
    text-align: center;
  }
}

.contact .left a:hover {
  color: #93111e;
}

@media only screen and (max-width: 1250px) {
  .contact .right {
    width: 100%;
    text-align: center;
  }
}

.contact .right .details-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1250px) {
  .contact .right .details-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1032px) {
  .contact .right .details-contact .detail-contact {
    width: 100%;
    text-align: center;
  }
}

.contact .right .details-contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  color: #222021;
}

@media only screen and (max-width: 1032px) {
  .contact .right .details-contact a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact .right .details-contact a svg {
  margin-right: 10px;
}

footer .nota-prawna {
  background-color: #f3f3f3;
  padding: 60px 0;
}

footer .nota-prawna p {
  font-size: 14px;
}

#go-to-top {
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: -110px;
  background-color: #c11627;
  border-radius: 3px;
  padding: 5px;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#go-to-top:hover {
  opacity: 0.8;
}

#go-to-top:focus {
  opacity: 0.3;
}

.go-to-to-active {
  bottom: 10px !important;
}

form {
  padding: 10px 15px;
}

form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

form input, form select {
  border-radius: 100px;
  padding: 15px 30px;
  border: 0px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  font-size: 16px;
}

form .ch .checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .ch .checkbox label input {
  width: 50px;
}

form .ch .checkbox label span {
  width: calc(100% - 50px);
  font-size: 12px;
  color: #222021;
}

form .ch .checkbox label .zgoda-tooltiop .zgoda-hidden {
  position: absolute;
  left: 50px;
  bottom: 0px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: calc(100% - 100px);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

form .has-error input, form .has-error select {
  border: 1px solid red !important;
}

form .has-error .help-block {
  display: none !important;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 15px;
  color: #c11627;
}

form .has-success input, form .has-success select {
  border: 1px solid green !important;
}

form .has-success .help-block {
  display: block;
}

form button.btn {
  cursor: pointer;
  margin: 20px 0 0;
  display: block;
  width: 100%;
  padding: 15px 30px;
  border: none;
  font-size: 21px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */